# Data files
datasets/court_docket_entries
saved

# .idea
.idea
.ipynb_checkpoints

# vscode
.vscode

.DS_STORE
/logs/
*.csv
/motion\ classification/datasets/court_docket_entries/
*.pyc
*/logs/
*/results/
motion classification/Untitled.ipynb
